<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}">

<head>
<meta charset="UTF-8" />
<title>Confirmation</title>

</head>

<body>

	<div class="right_col" role="main" data-layout-fragment="content">

		<div class="col-md-12">
			<div class="col-middle">
				<div class="text-center text-center">
					<h1 class="ok">Modification réussie</h1>
					<div class="container">
						<h3>Confirmation d'envoi</h3>
						<ul class="list-group">
							<li class="list-group-item">ID :[[${produit.id}]]</li>
							<li class="list-group-item">Désignation:[[${produit.designation}]]</li>
							<li class="list-group-item">Prix : [[${produit.prix}]]</li>
							<li class="list-group-item">Quantité
								:[[${produit.quantite}]]</li>
						</ul>
					</div>
					<a type="button" class="btn btn-success" th:href="@{/user/index}"><i class="fa fa-floppy-o"></i> Valider</a>
						
					<a type="button"
						class=" btn btn-warning"
						th:href="@{/admin/edit(id=${produit.id})}"><i
						class="fa fa-pencil"></i> Modifier</a>
					
				</div>
			</div>
		</div>
	</div>

</body>

</html>